body{
    background-color: #EAE8FE;
}

#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    padding-top: 248px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 20px;
}

#app .cont-machine,
#app .cont-myInfo{
    width: 360px;
    box-sizing: border-box;
}

#app .tit-app{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-image: url("../imgs/Logo_img.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*cont-machine design*/
#app .cont-machine {
    padding: 31px 27px 28px;
    background-color: #ffffff;

}

.cont-machine .list-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.cont-machine .list-item li{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 11px 12px 9px 12px;
    position: relative;
}

.cont-machine .list-item li:active::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #6327FE;
    border-radius: 10px;
    box-sizing: border-box;
}

.cont-machine .list-item li.sold-out::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 10px;
    background: no-repeat center/ 60px 46px url('../imgs/Sold-out.png') rgba(0, 0, 0, 0.5);
}

.cont-machine .list-item li.sold-out::after{
    content: '품절';
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

.cont-machine .list-item li.sold-out{
    pointer-events: none;
}

.cont-machine .list-item .img-item{
    display: block;
    width: 36px;
    margin: 0 auto;
}

.list-item .name-item{
    font-size: 9px;
    font-weight: 500;
    line-height: 10px;
}

.list-item .txt-1000{
    display: block;
    color: #ffffff;
    padding: 5px 15.5px;
    background-color: #6327FE;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 7px;
}

.cont-pay{
    display: grid;
    grid-template-rows: 32px 32px 106px ;
    grid-template-columns: repeat(3, 94px);
    grid-gap: 12px;
    margin-top: 20px;
}

.cont-pay .info-balance{
    grid-column: 1/3;
    background-color: #EAE8FE;
    padding: 0 10px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    float: left;
}

.cont-pay .txt-balance{
    float:right;
}

.cont-pay .btn-return,
.cont-pay .btn-put{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}

.cont-pay .inp-put{
    grid-column: 1/3;
    border: 1px solid #BDBDBD;
    padding-left: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border-radius: 5px;
}

.cont-pay .list-picked{
    grid-column: 1/3;
    border: 1px solid #BDBDBD;
    background-color: #EAE8FE;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 12px 10px 12px 12px;
}

.cont-pay .btn-get{
    background-color: #6327FE;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0px 0px 2px 1px lightgrey;
    cursor: pointer;
    border-radius: 5px;
}

.list-picked .btn-picked{
    width: 100%;
    height: 46px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 8px 0 10px;
}

.btn-picked .img-picked{
    display: block;
    width: 18px;
    float: left;
    margin-right: 10px;
    margin: 6px 10px 7px 0;
}

.btn-picked .txt-item{
    font-size: 9px;
    font-weight: 500;
    float: left;
    margin: 18px 0;
}

.btn-picked .num-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    float: right;
    margin: 7px 0;
}

.list-picked li+li{
    margin-top: 6px;
}

/* cont-myInfo design*/
.cont-myInfo .cont-money{
    display: inline-block;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 9px 27px;
    width: 360px;
    height: 50px;

}

.cont-money .info-money{
    height: 32px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20.27px;
    border-radius: 5px;
    background-color: #EAE8FE;
    padding: 6px 10px;
}

.cont-money .txt-money{
    font-size: 14px;
    font-weight: 700;
    line-height: 20.27px;
    float: right;
}

.cont-getList {
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 474px;
    text-align: center;
    margin-top: 20px;
    padding: 25px 27px 26px;
}

.cont-getList .tit-getList{
    margin: 25px 0 13px;
    font-size: 14px;
    font-weight: 700;
}

.cont-getList .list-picked{
    margin-top: 13px;
    box-sizing:border-box;
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 12px 10px 0 12px;
    height: 364px;
}

.cont-getList .div-total{
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.38px;
    text-align: right;
    margin-top: 6px;
}
.cont-getList .div-total .txt-total{
    display: inline-block;
}

.cont-getList .list-selected .ss {
    display: inline-block;
}

@media only screen and (max-width:500px){
    body {
        background-color: #ffffff;
    }

    #app {
        padding-top: 65px;
    }

    #app .tit-app {
        width: 166px;
        height: 70px;
    }

    .my-info .cont-myitems {
        margin-top: 0;
        padding: 31px 27px 32px;
    }
}